# This file is managed by Ansible, all changes will be lost

[domain/{{ freeipa_domain }}]

cache_credentials = True
krb5_store_password_if_offline = True
ipa_domain = {{ freeipa_domain }}
id_provider = ipa
auth_provider = ipa
access_provider = ipa
ipa_hostname = {{ ansible_fqdn }}
chpass_provider = ipa
ipa_server = {{ freeipa_servers | join(",") }}
ldap_tls_cacert = /etc/ipa/ca.crt
{% if freeipa_domain != (freeipa_realm | lower) %}
ldap_search_base = cn=accounts,{{ freeipa_ldap_base }}
{% endif %}
debug_level = 6

{% if freeipa_domain != (freeipa_realm | lower) %}
krb5_realm = {{ freeipa_realm }}
{% endif %}
krb5_server = {{ freeipa_servers | join(",") }}

# sudo configuration
sudo_provider = ldap
ldap_uri = {% for server in freeipa_servers %}{{ "ldap://%s" | format(server) }}{% endfor %}{{ "" }}
ldap_sudo_search_base = ou=SUDOers,{{ freeipa_ldap_base }}
ldap_sasl_mech = GSSAPI
ldap_sasl_authid = host/{{ ansible_fqdn }}
ldap_sasl_realm = {{ freeipa_realm }}

[sssd]
services = nss, pam, ssh, sudo
config_file_version = 2

domains = {{ freeipa_domain }}
[nss]

[pam]

[sudo]

[autofs]

[ssh]

[pac]
