# This file is managed by Ansible, all changes will be lost

[domain/{{ freeipa_domain }}]

cache_credentials = True
krb5_store_password_if_offline = True
ipa_domain = {{ freeipa_domain }}
id_provider = ipa
auth_provider = ipa
access_provider = ipa
ipa_hostname = {{ ansible_fqdn }}
chpass_provider = ipa
ipa_server = {{ freeipa_servers | join(",") }}
ldap_tls_cacert = /etc/ipa/ca.crt
debug_level = 6

# sudo configuration
sudo_provider = ldap
ldap_uri = {% for server in freeipa_servers %}{{ "ldap://%s" | format(server) }}{% endfor %}{{ "" }}
# TODO: generate search base
ldap_sudo_search_base = ou=SUDOers,dc=inofix-test,dc=ch
ldap_sasl_mech = GSSAPI
ldap_sasl_authid = host/{{ ansible_fqdn }}
ldap_sasl_realm = {{ freeipa_realm }}
krb5_server = {{ freeipa_servers | join(",") }}

[sssd]
services = nss, pam, ssh, sudo
config_file_version = 2

domains = {{ freeipa_domain }}
[nss]

[pam]

[sudo]
debug_level = 9

[autofs]

[ssh]

[pac]
